//default variable overrides come before the @import

@import '../node_modules/bootstrap/scss/bootstrap';

//additional custom code (for classes, etc.) comes after the @import
.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.btn-dark {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.dashboard-container {
  height: 100vh;
}
.sidebar {
  .search-bar {
    max-width: 100%;
    .label {
      max-width: inherit;
      .input {
        max-width: inherit;
      }
    }
  }
  .weather-summary {
    max-width: 75%;
  }
}

.main-dashboard {
  min-height: 80%;
}
