//default variable overrides come before the @import
$header-font-family: 'DM Sans', sans-serif;
$child-font-family: 'Libre Franklin', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';

//additional custom code (for classes, etc.) comes after the @import
.dark {
  background-color: #000;
  color: #fff;
  .btn-dark {
    background-color: #000;
    border-color: #fff;
    color: #fff;
  }
}

.light {
  // background-color: #bdccef;
  // background-color: #e6ecf9;
  background: linear-gradient(#bdccef, #e6ecf9);
  color: #000;
  .btn-light {
    background-color: #b9cbf3;
    color: #000;
    &:hover,
    &:focus {
      background-color: hsl(221, 71%, 90%);
      border-color: hsl(221, 71%, 90%);
    }
  }
}

.dashboard-container {
  height: 100vh;
  max-height: 100vh;
  .btn {
    border: 0;
  }
}

.dashboard-modal {
  @media (min-width: 768px) {
    width: 30% !important;
    margin-left: 20px;
    margin-top: 20px;
    height: fit-content;
  }

  .modal-content {
    max-width: 300px;
  }
}

.sidebar-outer {
  font-family: $header-font-family;
  max-height: inherit;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .sidebar-inner {
    max-width: 95%;
    height: 95%;
    border-radius: 30px;
    //remove later:
    background-color: hsl(225, 60%, 93%);
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);

  .sidebar-top {
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
  }

    .toggle-button {
      display: block;
      margin-top: 1vw;
      margin-left: auto;
      border-radius: 30px;
    }
    .search-bar {
      margin-top: 2vw;
      max-width: 100%;
      // text-align: center;
      label {
        display: hidden;
      max-width: inherit;
        input {
          max-width: inherit;
          // match btn-light
          background-color: #b9cbf3;
          border: 0;
          border-radius: 30px;
          &:focus,
          &:hover {
            background-color: hsl(221, 71%, 90%);
          }
        }
    }
    .summary-weather {
      font-family: $child-font-family;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 85%;
      max-height: 55%;
      overflow: hidden auto;
      font-size: 0.5em;
      padding-top: 4em;
      background-color: #ccd8f075;
      box-shadow: inset 0 1px 6px 1px rgba(40, 40, 40, 0.1);

      .summary-font-1 {
        font-size: 3em;
      }
      .summary-font-2 {
        font-size: 2.5em;
      }
      .summary-font-4 {
        font-size: 2em;
      }
      .summary-image {
        position: relative;
        bottom: 60px;
      }
      .summary-description {
        position: relative;
        bottom: 80px;
      }
      .summary-hourly {
        font-family: $header-font-family;
        position: relative;
        bottom: 60px;
      }

      @include media-breakpoint-up(md) {
        max-height: 75%;

        .summary-font-1 {
          font-size: 3.5em;
        }
        .summary-font-2 {
          font-size: 3em;
        }
        .summary-font-4 {
          font-size: 2.5em;
        }
        .summary-image {
          position: relative;
          bottom: 55px;
        }
        .summary-description {
          position: relative;
          bottom: 65px;
        }
        .summary-hourly {
          position: relative;
          bottom: 40px;
        }
      }
      @include media-breakpoint-up(xxl) {
        max-height: 75%;

        .summary-font-1 {
          font-size: 4.5em;
        }
        .summary-font-2 {
          font-size: 4em;
        }
        .summary-font-4 {
          font-size: 3em;
        }
        .summary-image {
          position: relative;
          bottom: 55px;
        }
        .summary-description {
          position: relative;
          bottom: 65px;
        }
        .summary-hourly {
          position: relative;
          bottom: 40px;
        }
      }
    }
  }
}

.main-dashboard {
  min-height: 80%;
  max-height: inherit;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .main-dashboard-inner {
    max-width: 98%;
    height: 97%;
    border-radius: 30px;
    //remove later:
    background-color: hsl(225, 60%, 93%);
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.2);
  }
}

.animation-wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-bar {
  width: 6rem;
  height: 6rem;
}

.loading-screen {
  opacity: 0.5;
}

.welcome-header {
  font-family: $header-font-family;
}

.sun {
  font-family: $child-font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hourly-graph {
  height: 250px;
}

.weather-detail {
  font-family: $child-font-family;
}

.weather-detail-header {
  font-family: $header-font-family;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 642px) {
  .weather-detail-header {
    display: block;
    text-align: center;

    .humidity-icon,
    .wind-icon {
      display: none;
    }
  }
}
