//default variable overrides come before the @import

@import '../node_modules/bootstrap/scss/bootstrap';

//additional custom code (for classes, etc.) comes after the @import
.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.dashboard-container {
  height: 100vh;
}
.sidebar {
}

.main-dashboard {
  min-height: 80%;
}
