{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true
  }
}
